.header {
	background: #6e2556;
	margin-bottom: 20px;
}

.nav-menu {
	display: inline-block;
	margin: 25px 20px;
	float: right;
}

a:link {
	color: white;
}

ul.nav-buttons {
	text-decoration: none;
	text-transform: uppercase;
}

li.home-button {
	display: inline;
	border-right: 1px solid white;
	padding: 0 20px;
}

li.about-button {
	display: inline;
	border-right: 1px solid white;
	padding: 0 20px;
}

li.signIn-button {
	display: inline;
	padding: 0 20px;
}

.info-header {
	color: #6e2556 !important;
}

.button.small {
	text-transform: uppercase;
	color: white;
	background-color: #6e2556 !important;
	text-align: center;
}

.boxed {
	 background-image: url("https://raw.githubusercontent.com/EdgardoA/EventApp/gh-pages/img/people.jpg");
}

.maptest {
	 position: relative;
	 left: 200px;
	 width: 50px:
}

.medium-3.columns.bio {
	text-align: center;
	text-transform: uppercase;
	color: #6e2556;
}

.small-4.columns.time {
	text-align: center;
	margin: 25px 20px;
}
