.header {
	background: #6e2556;
	margin-bottom: 20px;
}

.nav-menu {
	display: inline-block;
	margin: 25px 20px 70px 70px;
	float: right;
}

#nav-buttons {
	margin-left: 10px;
}

li {
	text-decoration: none;
	color: white;
	display: inline;
}
